<% content_for :head do %>
    <%#= javascript_pack_tag 'hello_vue' %>
    <%#= stylesheet_pack_tag 'hello_vue' %>
<% end %>
<!DOCTYPE html>
<html>
  <head>
    <title>Experiments</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= yield :head %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div>
      <%= link_to 'Home', root_path %>
      <%= link_to 'Bookmarks', bookmarks_path %>
      <%= link_to 'Jobs', '/jobs' %>
      <%= link_to 'site/test', site_test_path %>
      <% if user_signed_in? %>
        Signed in as <%= current_user.email %>
        <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
      <% else %>
        Welcome, user
        <%= link_to 'Sign in', new_user_session_path %>
      <% end %>
    </div>
    <hr>
    <%= content_for?(:content) ? yield(:content) : yield %>
    <hr>
    <p>session: <%#= session.to_json %></p>
    <p>user_session: <%#= user_session %></p>
    <hr>
  </body>
</html>
